<h1>An enterprise-class Angular UI component library based on Ant Design, all components are open source and free to use
  under MIT license.</h1>

<div>
  <img alt="Ant Design" width="150" height="150"
    src="https://img.alicdn.com/tfs/TB1g.mWZAL0gK0jSZFtXXXQCXXa-200-200.svg" style="margin-right: 24px;">
  <span>+</span>
  <img alt="Angular" width="180" height="180"
    src="https://img.alicdn.com/imgextra/i1/O1CN01RSfkps1J0vtVaKr0U_!!6000000000967-49-tps-1920-1920.webp">
</div>
<h3>Ant Design+Angular</h3>
<h2>Features#</h2>
@for (feature of features; track $index) {
<ul>
  <li>
    {{feature}}
  </li>
</ul>
}
<br>
<h2>Companies using ng-zorro-antd</h2>
@for (company of companies; track $index) {
  <ul>
    <li>
      {{company}}
    </li>
  </ul>
}
